<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Winamp</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/720470c45d.js"></script>
</head>
</head>

<body>
    <main>
        <div class="logo">
            <img src="img/foxplayer.png" style="max-height: 100%; max-width: 100%; margin: 5%;">
        </div>
        <div class="message"></div>
        <div class="infobar">Playlists</div>
        <div class="infobarplus"><i class="fas fa-plus"></i></div>
        <div class="album">
            <img class="albumimg" src="img/music-placeholder.png" style="max-height: 100%; max-width: 100%;">
        </div>
        <div class="playlists">
            <div class="list">All tracks</div>
            <div class="list">Favorites</div>
        </div>
        <div class="info">
            <h2>track</h2>
            <h3>artist</h3>
        </div>
        <div class="infoplus"><i class="fas fa-plus"></i></div>
        <div class="infostar"><i class="fas fa-star"></i></div>
        <div class="tracks">
            <% rows.forEach(function(element, index) {%>
            <div class="track" data-url="<%=`${element.stream}`%>" data-artwork="<%=`${element.artwork}`%>"
                data-artist="<%=`${element.artist}`%>">
                <div class="trackname"><%= `${element.track_name}`%></div>
                <div class="tracklength"><%= `${element.length}`%></div>
            </div>
            <%})%>
        </div>
    </main>
    <audio controls src="https://freemusicarchive.org/music/listen/a92fb4d9f303e2c6055b94e1de61f8afef2af55b"
        autoplay="true">
    </audio>
    <script src="frontend/frontend.js"></script>
</body>

</html>