<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookstore</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>Bookstore</h1>
    <table>
        <tr>
            <th>TITLE</th>
            <th>AUTHOR</th>
            <th>CATEGORY</th>
            <th>PUBLISHER</th>
            <th>Price</th>
        </tr>
        <% rows.forEach(function(element, index) {%>
        <tr>
            <td><%= `${element.book_name}`%></td>
            <td><%= `${element.aut_name}`%></td>
            <td><%= `${element.cate_descrip}`%></td>
            <td><%= `${element.pub_name}`%></td>
            <td><%= `${element.book_price}`%></td>
        </tr>
        <%})%>
        <!-- <script src="frontend.js" type="text/javascript"></script> -->
    </table>
</body>

</html>